<p-card header="{{ item.title }}" subheader="{{ item.description }}">
  <ng-template pTemplate="header">
    <div class="text-center">
    <img alt="Card" src="{{ item.image }}" class="p-5 image-card img-fluid" />
  </div>
  </ng-template>
  <p *ngIf="item.price">R$ {{ item.price }}</p>
  <span *ngIf="item.donated">
      Já Arrecadado: R$ {{item.donated}}  
  </span>
  <ng-template pTemplate="footer">
    <div class="w-100">    
      <p-button
        label="{{item.sent ? 'Já Presenteado' : 'Presentear'}}"
        class="w-100 d-inline-grid"
        (onClick)="showDialog()"
        [disabled]="item.sent"

      />
      <app-dialog [item]="item" [visible]="visible" (onHide)="onDialogHide()" />
    </div>
  </ng-template>
</p-card>
