<p-dialog
  header="{{ item.title }}"
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hide()"
>
  <div class="first-screen" *ngIf="firstScreen">
    <h1>
      {{ item.description }}
    </h1>
    <h2>R$ {{ item.price }}</h2>
    <div class="text-center">
      <ng-container *ngIf='!sendMoney && !sendPresent'>
        
      <h2 class="texto-compra">Como você quer fazer?</h2>
      <p-button
        label="Mandar o dinheiro"
        class="w-100 mx-2 mt-4"
        (onClick)="onChangeToSendMoney()"
      />

      <p-button
        label="Comprar eu mesmo"
        class="w-100 mx-2 mt-4"
        (onClick)="onChangeToBuy()"
      />
      </ng-container>
    </div>

    <p class="texto-compra" *ngIf='sendMoney || sendPresent'>Como vai funcionar:</p>

    <ng-container *ngIf='sendMoney'>
    <p class="texto-compra">
      <b>Envio do Valor:</b> Você pode enviar o valor do presente para a Deca via pix copia e cola. 
    </p>
    <p class="texto-compra">
      E pronto! Assim você vai garantir que Deca e Gaiva recebam um presente incrível.
    </p>
    <p-button
      label="Copiar PIX copia e cola"
      class="w-100 pe-5"
      (onClick)="copyPix()"
    />
    </ng-container>
    
    <ng-container *ngIf='sendPresent'>
    <p>
      <b>Quer Comprar Você Mesmo?</b> Você pode optar por comprar o presente você mesmo. Nesse caso,
      só precisa clicar "Avisar por WhatsApp" que te enviamos o endereço de entrega.
    </p>
    <p>
      E pronto! De uma forma ou de outra, você vai garantir que Deca e Gaiva
      recebam um presente incrível.
    </p>
    <p-button 
      label="Ver na loja" 
      class="w-100 me-5" 
      (onClick)="redirecionarParaURL()"
    />
    <p-button 
      label="Avisar pelo whatsapp" 
      class="w-100" 
      (onClick)="messagemWhatsapp()" 
    />

  </ng-container>

  </div>
  
  <div *ngIf="!firstScreen">
    <h1>PIX copiado com sucesso!</h1>
    <div class="d-flex justify-content-center align-items-center">
      <img src="{{ gifUrl }}" alt="PIX" class="w-25" />
    </div>

    <p>Agora é só colar no seu aplicativo de banco e realizar o pagamento.</p>
    <p>Ah, e não esqueça de clicar "Avisar por WhatsApp".</p>
    <p-button 
      label="Avisar pelo whatsapp" 
      class="w-100" 
      (onClick)="messagemWhatsapp()" 
    />
  </div>
</p-dialog>
